# Unity 프로젝트 내 자동 생성 폴더들 무시
/GameAify_Project/[Ll]ibrary/
/GameAify_Project/[Tt]emp/
/GameAify_Project/[Oo]bj/
/GameAify_Project/[Bb]uild/
/GameAify_Project/[Bb]uilds/
/GameAify_Project/[Ll]ogs/
/GameAify_Project/[Uu]ser[Ss]ettings/
/GameAify_Project/[Pp]roject[Ss]ettings/

# 로그 파일
*.log

# 블렌더 백업 파일
*.blend1
*.blend1.meta

# 메모리 캡처 & 레코딩 무시
/GameAify_Project/[Mm]emoryCaptures/
/GameAify_Project/[Rr]ecordings/

# 에셋 스토어 툴 무시 (원할 경우)
/GameAify_Project/[Aa]ssets/AssetStoreTools*

# JetBrains Rider 관련
/GameAify_Project/[Aa]ssets/Plugins/Editor/JetBrains*
*.DotSettings.user

# Visual Studio / Rider 캐시
.vs/
/.gradle/

# 자동 생성되는 프로젝트 관련 파일
/GameAify_Project/ExportedObj/
/GameAify_Project/.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity가 생성하는 .meta 파일들
*.pidb.meta
*.pdb.meta
*.mdb.meta

# 크래시 리포트 파일
sysinfo.txt
mono_crash.*

# 빌드 파일들 무시
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app

# Crashlytics
crashlytics-build.properties

# 테스트용 씬 자동 생성
/GameAify_Project/[Aa]ssets/[Ii]nit[Tt]est[Ss]cene*.unity*

# Addressables 관련
/GameAify_Project/ServerData
/GameAify_Project/[Aa]ssets/StreamingAssets/aa*
/GameAify_Project/[Aa]ssets/AddressableAssetsData/link.xml*
/GameAify_Project/[Aa]ssets/Addressables_Temp*
/GameAify_Project/[Aa]ssets/AddressableAssetsData/*/*.bin*

# Visual Scripting
/GameAify_Project/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db
/GameAify_Project/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db.meta
/GameAify_Project/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers
/GameAify_Project/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers.meta
